[user]
	email = riaz.n.virani@gmail.com
	name = Riaz N Virani
[core]
	excludesfile = /Users/riaznvirani/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool]
	keepBackup = true
[alias]
	logg = log --graph --decorate --pretty=oneline --abbrev-commit --color
	loggg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	a  = add
	b  = branch
	c  = commit
	co  = checkout
	d  = diff --word-diff
	ds  = diff --word-diff --staged
	l  = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -n 20
	s  = status --short
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge --merge--result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[push]
	default = current
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[branch]
	autosetupmerge = always
[commit]
	template = /Users/riaznvirani/.stCommitMsg
